* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  padding: 0 50px;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto 0 auto;
  padding: 10px;
  color: #333;
}
