.footer {
  padding: 60px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .footer-note {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 400;
    color: $footer-note-clr;
  }

  .footer-msg {
    text-align: center;
    font-size: 14px;
  }
}
