.header {
  width: 100%;
  height: 50px;
  padding: 0 50px;
  background-color: $header-bgcolor;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.03%);
  position: fixed;
  top: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;

  .nav-item {
    margin-right: 30px;
    padding: 10px;

    .nav-link {
      color: $nav-link-clr;
      text-decoration: none;
      vertical-align: -webkit-baseline-middle;
    }

    .btn-resume {
      height: 30px;
      width: 120px;
      font-size: 14px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
