.section-project {
  padding: 60px 0;

  .project-heading {
    color: $project-heading-clr;
    font-size: 36px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    text-transform: uppercase;
  }

  .project-stack {
    display: flex;
    flex-wrap: wrap;

    .project-box {
      border-radius: 12px;
      padding: 30px;
      line-height: 24px;
      width: 31%;
      margin-bottom: 35px;
      box-shadow: $project-box-shadow;
      text-align: center;
      margin-right: 2%;
      background-color: $project-bgcolor;

      .project-title {
        font-size: 20px;
        font-weight: 500;
        color: $project-title-clr;
      }

      .project-description {
        margin: 20px 0;
        color: $project-description-clr;
      }

      .project-link i {
        margin-right: 10px;
      }
    }
  }
}
