.section-skill {
  padding: 60px 0;

  .skill-heading {
    color: $skill-heading-clr;
    font-size: 36px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .skill-stack {
    display: flex;

    .stack-item {
      margin-right: 50px;
      padding: 15px;
      box-shadow: 0 9.8px 18.2px rgba(183, 183, 183, 30%);
      border-radius: 8px;
      background-color: $skill-bgclr;
      text-align: center;
      min-width: 90px;
      height: 87px;

      .stack-item-name {
        margin-top: 5px;
        color: $stack-item-name-clr;
      }

      i {
        font-size: 56px;
      }
      .logo-css {
        color: $logo-css-cls;
      }

      .logo-html {
        color: $logo-html-cls;
      }

      .logo-bootstrap {
        color: $logo-bootstrap-cls;
      }

      .logo-sass {
        color: $logo-sass-cls;
      }

      .logo-js {
        color: $logo-js-cls;
      }
    }
  }
}
