.section-profile {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .profile-detail {
    .profile-name {
      margin: 10px 0 5px 0;
      font-size: 72px;
      font-weight: 600;
      line-height: 76px;
    }

    .profile-designation {
      color: $profile-designation-clr;
      font-size: 32px;
      line-height: 1;
      font-weight: 400;
      margin-bottom: 24px;
    }

    .profile-prename,
    .profile-description {
      color: $profile-prename-description-clr;
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
    }

    .btn-mail {
      height: 50px;
      width: 150px;
      margin-top: 50px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
  .profile-img {
    img {
      height: 275px;
      width: 275px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
