* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  padding: 0 50px;
  color: #374785;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  background-image: radial-gradient(#5e63bb 0.55px, transparent 0.55px), radial-gradient(#7c80d4 0.55px, #f4f6f8 0.55px);
  background-size: 22px 22px;
  background-position: 0 0, 11px 11px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto 0 auto;
  padding: 0 10px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 4px 0px #b7b7b7;
          box-shadow: 0px 1px 4px 0px #b7b7b7;
}

.btn-primary {
  color: #fff;
  background-color: #374785;
  border: #374785;
}

.btn-outline-primary {
  color: #374785;
  border: 2px solid #374785;
  background-color: #fff;
  background-image: radial-gradient(#5e63bb 0.55px, transparent 0.55px), radial-gradient(#7c80d4 0.55px, #fff 0.55px);
  background-size: 22px 22px;
  background-position: 0 0, 11px 11px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  background-image: radial-gradient(#5e63bb 0.55px, transparent 0.55px), radial-gradient(#7c80d4 0.55px, #deecfa 0.55px);
}

.header {
  width: 100%;
  height: 50px;
  padding: 0 50px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.03);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 0;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  background-image: radial-gradient(#5e63bb 0.55px, transparent 0.55px), radial-gradient(#7c80d4 0.55px, #fff 0.55px);
  background-size: 22px 22px;
  background-position: 0 0, 11px 11px;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-nav .nav-item {
  margin-right: 30px;
  padding: 10px;
}

.navbar-nav .nav-item .nav-link {
  color: #374785;
  text-decoration: none;
  vertical-align: -webkit-baseline-middle;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:active {
  border-bottom: 2px solid #24305e;
}

.navbar-nav .nav-item .btn-resume {
  height: 30px;
  width: 120px;
  font-size: 14px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.section-profile {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-profile .profile-detail .profile-name {
  margin: 10px 0 5px 0;
  font-size: 72px;
  font-weight: 600;
  line-height: 76px;
  color: #24305e;
}

.section-profile .profile-detail .profile-designation {
  color: #f76c6c;
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 24px;
}

.section-profile .profile-detail .profile-prename,
.section-profile .profile-detail .profile-description {
  color: #555;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.section-profile .profile-detail .btn-mail {
  height: 50px;
  width: 150px;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.section-profile .profile-img img {
  height: 275px;
  width: 275px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-skill {
  padding: 60px 0;
}

.section-skill .skill-heading {
  color: #24305e;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.section-skill .skill-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-skill .skill-stack .stack-item {
  margin-right: 50px;
  padding: 15px;
  -webkit-box-shadow: 0 9.8px 18.2px #b7b7b7;
          box-shadow: 0 9.8px 18.2px #b7b7b7;
  border-radius: 8px;
  background-color: #fff;
  background-image: radial-gradient(#5e63bb 0.55px, transparent 0.55px), radial-gradient(#7c80d4 0.55px, #fff 0.55px);
  background-position: 0 0, 11px 11px;
}

.section-skill .skill-stack .stack-item i {
  font-size: 56px;
}

.section-skill .skill-stack .stack-item .logo-css {
  color: #3595cf;
}

.section-skill .skill-stack .stack-item .logo-html {
  color: #dd4b25;
}

.section-skill .skill-stack .stack-item .logo-bootstrap {
  color: #8a0afc;
}

.section-skill .skill-stack .stack-item .logo-sass {
  color: #c76494;
}

.section-skill .skill-stack .stack-item .logo-js {
  color: #e8d44d;
}

.section-project {
  padding: 60px 0;
}

.section-project .project-heading {
  color: #24305e;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.section-project .project-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-project .project-stack .project-box {
  border-radius: 12px;
  padding: 30px;
  line-height: 24px;
  width: 31%;
  margin-bottom: 35px;
  -webkit-box-shadow: 0px 1px 4px 0px #b7b7b7;
          box-shadow: 0px 1px 4px 0px #b7b7b7;
  text-align: center;
  margin-right: 2%;
  background-color: #fff;
  background-image: radial-gradient(#5e63bb 0.55px, transparent 0.55px), radial-gradient(#7c80d4 0.55px, #fff 0.55px);
  background-size: 22px 22px;
  background-position: 0 0, 11px 11px;
}

.section-project .project-stack .project-box .project-title {
  font-size: 20px;
  font-weight: 500;
  color: #f76c6c;
}

.section-project .project-stack .project-box .project-description {
  margin: 20px 0;
  color: #555;
}

.section-project .project-stack .project-box .project-link i {
  margin-right: 10px;
}

.footer {
  padding: 60px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-note {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 400;
  color: #f76c6c;
  text-align: center;
}

.footer .footer-msg {
  text-align: center;
  font-size: 14px;
}

.social-link-position {
  width: 40px;
  bottom: 0;
  z-index: 10;
  position: fixed;
}

.social-link-left {
  left: 100px;
  right: auto;
}

.social-link {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.social-link::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #374785;
}

.social-link .social-item-link {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.social-link .social-item-link:hover, .social-link .social-item-link:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.social-link .social-item-link i {
  font-size: 20px;
}

.social-link .social-item-link .fa-twitter {
  color: #4da6e9;
}

.social-link .social-item-link .fa-linkedin {
  color: #0073b1;
}

.social-link-right {
  left: auto;
  right: 100px;
}

.social-link-right .social-link-text {
  padding: 10px;
  color: #374785;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.social-link-right .social-link-text:hover, .social-link-right .social-link-text:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (max-width: 480px) {
  .navbar-nav .nav-item {
    margin-right: 0;
  }
  .section-profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-profile .profile-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .section-profile .profile-img img {
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
  }
  .section-skill .skill-stack {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-skill .skill-stack .stack-item {
    margin-right: 25px;
    margin-bottom: 40px;
    padding: 10px;
  }
  .section-skill .skill-stack .stack-item i {
    font-size: 45px;
  }
  .section-project .project-stack .project-box {
    width: 100%;
  }
  .social-link {
    display: none;
  }
  .section-profile,
  .section-skill,
  .section-project {
    padding: 30px 0;
  }
  .footer {
    padding-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */